# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 43b0a83c2a0beee8b84c43dcb0f68e87480d4f507da79ffdc63c55e690adb9728e1d6da690d4fbd442367b7c5043a161b655ea711d1d183292662f6a30bb5fe7

test:
  secret_key_base: c798ff54e0fd2f26766b67889b91d0e38f34a0c8e47d1bffe3750e33df447c0d21098d431448e69e0fc4ba6c55c00d94263d9835bb3f76f72065ac85b3160c8c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 314ae1dc68eef677a2d9d2f20853ee1c96611b66d5f656cadb6ec961ed78922f9aff95dd1b405ce8d8c4604b213a4f17ef4615ecce9c53470b319b3f23e0ea76
